@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Toto:wght@400;500;600;700&display=swap');


/* Essential stuff */
body {
    font-family: 'Noto Serif Toto', serif;
    color: #000;
}

#bee-tween {
    height: 100px;
}



/* navigation */
.da-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    margin-bottom: 30px;
}

.da-nav li {
    display: inline;
    padding: 15px;
}

/*
.button {
    border-radius: 4px;
    background-color: #444;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
*/

a:link, a:visited, a:hover, a:active {
    color: #145;
}

a:link.btn, a:visited.btn, a:hover.btn, a:active.btn {
    color: #fff;
}